@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-dash {
    stroke-dasharray: 10;
    animation: dash 20s linear infinite;
  }

  .animate-dash-reverse {
    stroke-dasharray: 10;
    animation: dash 20s linear infinite reverse;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  }

  .magic-box {
    position: relative;
    border-radius: 20px;
    z-index: 1;
  }

  .magic-box::before {
    content: '';
    position: absolute;
    inset: -4px;
    border-radius: 24px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -1;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0.8;
    filter: blur(10px);
  }

  .magic-box::after {
    content: '';
    position: absolute;
    inset: -2px;
    border-radius: 22px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -1;
    pointer-events: none;
  }
}